<div class="row">
  <div class="span6 offset3">
    <%= form_for(@meeting) do |f| %>
      <%= render(:partial => "shared/error_messages", :object => @meeting) %>

      <%= f.label :date %>
      <% if !@meeting.nil? then val = @meeting.date end %>
      <%= f.datepicker 'date', :dateFormat => "DD d MM yy", :defaultDate => val, :yearRange => "2010:2015" %>

      <%= f.label :venue %>
      <%= f.text_field :venue %>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <p class="padding">Now save the meeting:
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
